body {
  /* "reset" default margin */
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.leftPane {
  grid-area: 1 / 1 / 2 / 2;
  border-right: 1px solid gray;
}
.rightPane {
  grid-area: 1 / 2 / 2 / 3;
}
